[supervisord]
;sentinel section, don't remove

[program:{{ domain }}]
command=uwsgi -M -s {{ uwsgi_sock }} -H {{ virtualenv }} --pythonpath {{ repo }} -w {{ project_name }}.wsgi
user=www
redirect_stderr=true
stdout_logfile=/var/log/supervisord/{{ domain }}.log
stopsignal=QUIT
